
.region-header {
    .region-container {
        .block-bones-subtheme-branding,
        .block-block-content {
            display: block;
            text-align: center;
            padding: 50px 15px 0;
            
            @include paragraph($white, $small-text, uppercase);                   
    
            &.block-addressandphonenumber {
                padding-bottom: 20px;
            }
    
            .site-logo {
                max-width: 100%;
    
                @include respond_to(sm-down) {
                    margin: 0 auto;
                    display: block;
                }
            }                  
        }  
        
        @include respond_to(sm-down) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .mobile-nav-toggle {
        display: none;    
        @include respond_to(sm-down) { 
            display: block;
            align-self: center;
            padding: 7px 5px 5px;
            margin-right: 15px;
        }

        svg {
            g {
                path {
                    fill: $white;
                }
            }
        }
    }
}  