//Color
$dark-blue: #141B41;
$blue: #182150;
$white: #ffffff;
$grey: #e5e5e5;

//sizes
$small-text: 16px;
$medium-text: 18px;
$large-text: 24px;

//Screen size
$screen-xs-min: 0px;
$screen-sm-min: 420px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xs-max: 575.98px;
$screen-sm-max: 599px; //767.98
$screen-md-max: 991.98px;
$screen-lg-max: 1199.98px;
$screen-xl-max: 3000px;